# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Unfilter .obj files in meshes folders
# !data/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Filter executable and configutations files
bin/
*.ini

# Filter everything that isn't a .lua because we don't want to track Project Files (Make, CMAKE, Visual Studio)

# Filter everything in Scripts Except lua files
scripts/*
!scripts/*.lua

#
